<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slider con vue</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
</head>
<body>
    <div id="conteinerVue">
    <h1>Slider con vue</h1>

        <div class="containerImg">
                
            <img :src="srcImg" :alt="altImg">

            <p>{{TitleImg}}</p>
                
            <span class="left" @click='prev'>
                <i class="fas fa-arrow-left"></i>
            </span>
                
            <span class=right @click='next'>
                <i class="fas fa-arrow-right"></i>
            </span>

            <div class="points">
                <div 
                        :class="(index == counter ) ? 'point active' : 'point' "  
                        v-for='(square, index) in imgs' 
                        @click='clickChangeImageCircle(index)'
                    >
                </div>

            </div>

            <div class="autoPlayButtons">
                <p 
                        class=" autoPlayButton"
                        v-if='booleanAutoplay'
                        @click='stopAutoplay'>
                    <i class="fas fa-pause"></i>
                </p>
                <p 
                        class=" autoPlayButton" 
                        v-else 
                        @click='startAutoplay'
                    >
                    <i class="fas fa-play"></i>
                </p>
            </div>

        </div>

        <p>{{descrImg}}</p>
    </div>

    <script src="module.js"></script>
    
</body>
</html>