body{
    background-color: peru;
    font-family: sans-serif;
}

.conteinerVue{
    background-color: purple;
}

img{
    width: 100%;
}

.containerImg{
    position:relative;
    width: 100%;
    max-width: 500px;
}

.containerImg span{
    position: absolute;
    width: 35px;
    height: 35px;
    color: white;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 17px;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerImg .left{
    left: 17.5px;
    border-radius: 0 50% 50% 0;
}

.containerImg .right{
    left: calc(100% - 17.5px);
    border-radius: 50% 0 0 50%;
}

.containerImg p{
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.points{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    border-radius: 10px;
}

.points .point{
    height: 10px;
    width: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin: 5px
}

.points .point.active{
    background-color: blue;

}